Repository olanmccarthy/prog-hub, changes with the owners that CODEOWNERS names for each.
All owners: @olanmccarthy, @frontend-team, @backend-team, @techwriter

change timing of bot posting banlist suggestions to avoid players seeing who suggested what early
  src/app/banlist/suggestion-creation/actions.ts
  src/app/banlist/voting/actions.ts
Owners: @frontend-team

add channel ids for relevant discord channels to .env file
  .env.production
Owners: @olanmccarthy

show admins who hasn't taken listed actions for the prog, fix pairings by player view, fix moderator's selected banlist icon not highlighting correctly
  src/app/admin/prog_actions/actions.ts
  src/app/admin/prog_actions/components/ActiveSessionSection.tsx
  src/app/banlist/voting/components/VotingBanlistCard.tsx
  src/app/banlist/voting/page.tsx
  src/app/play/pairings/components/PairingsView.tsx
  src/components/RequirementItem.tsx
Owners: @frontend-team, @olanmccarthy

add more admin tools, fix standings inconsistencies across screens, add new channel for discord bot to log production errors, add error logging to image creation
  .env.production
  src/app/admin/prog_actions/actions.ts
  src/app/admin/prog_actions/components/TestControlsSection.tsx
  src/app/admin/prog_actions/page.tsx
  src/app/admin/victory-point-assignment/actions.ts
  src/discord/api.ts
  src/discord/config.ts
  src/discord/notifications.ts
  src/lib/banlistImage/saveBanlistImage.ts
  src/lib/deckImage/saveDeckImage.ts
  src/lib/discordClient.ts
Owners: @olanmccarthy, @frontend-team, @backend-team

try to fix prod image generation
  src/app/play/decklists/page.tsx
  src/lib/banlistImage/saveBanlistImage.ts
  src/lib/deckImage/saveDeckImage.ts
Owners: @frontend-team, @backend-team, @olanmccarthy

add option to choose if a set will use a database entry as the set image
  prisma/schema.prisma
  src/app/admin/set-manager/actions.ts
  src/app/admin/set-manager/page.tsx
  src/app/shop/actions.ts
  src/app/shop/page.tsx
Owners: @olanmccarthy, @frontend-team

allow for image urls to come from yugioh wikia
  next.config.ts
Owners: @olanmccarthy

stringify error object
  src/app/play/decklists/page.tsx
Owners: @frontend-team

fix purchase issues, fix placement issues
  src/app/admin/victory-point-assignment/actions.ts
  src/app/shop/actions.ts
Owners: @frontend-team

add staging environmental files
  .env.staging
  .github/workflows/deploy-staging.yml
  STAGING_SETUP.md
  deploy-staging.sh
  docker-compose.staging.yml
  nginx-staging.conf
  package.json
Owners: @olanmccarthy

ensure that staging and production deployments do not remove each other
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  deploy-staging.sh
  deploy.sh
Owners: @olanmccarthy

create separate compose projects for staging and prod
  .env.production
  .env.staging
  package.json
Owners: @olanmccarthy

fix incorrect db name
  .env.staging
Owners: @olanmccarthy

optimize amount of api calls made
  docker-compose.dev.yml
  docker-compose.yml
  src/app/banlist/history/actions.ts
  src/app/banlist/history/page.tsx
  src/app/banlist/suggestion-history/actions.ts
  src/app/banlist/suggestion-history/page.tsx
  src/app/banlist/voting/actions.ts
  src/app/banlist/voting/components/VotingBanlistCard.tsx
  src/lib/banlistImage/config.ts
  src/lib/banlistImage/generator.ts
  src/lib/deckImage/config.ts
  src/lib/deckImage/generator.ts
  src/lib/deckImage/imageCache.ts
Owners: @olanmccarthy, @frontend-team, @backend-team

fix type errors
  src/lib/banlistImage/generator.ts
  src/lib/deckImage/generator.ts
Owners: @backend-team, @olanmccarthy

add button for admins to to generate decklist and banlist images
  src/app/api/auth/me/route.ts
  src/app/banlist/history/actions.ts
  src/app/banlist/history/page.tsx
  src/app/play/decklists/actions.ts
  src/app/play/decklists/page.tsx
Owners: @frontend-team

add stats page
  src/app/stats/actions.ts
  src/app/stats/comparativeStatsConfig.ts
  src/app/stats/page.tsx
Owners: @frontend-team

regroup stat rankings to make it easier to parse flesh out some more stats allow card usage to filter by sessions
  src/app/stats/actions.ts
  src/app/stats/comparativeStatsConfig.ts
  src/app/stats/page.tsx
Owners: @frontend-team

add further in depth stats add session id to the transaction table to make it easier to see when transactions were made
  data/production_updates.sql
  prisma/schema.prisma
  src/app/admin/prog_actions/current-banlist/page.tsx
  src/app/admin/synergy-exclusions/actions.ts
  src/app/admin/synergy-exclusions/page.tsx
  src/app/admin/victory-point-assignment/actions.ts
  src/app/banlist/suggestion-history/page.tsx
  src/app/shop/page.tsx
  src/app/stats/actions.ts
  src/app/stats/comparativeStatsConfig.ts
  src/app/stats/components/AverageROICard.tsx
  src/app/stats/components/CardSuccessTable.tsx
  src/app/stats/components/CardSynergiesTable.tsx
  src/app/stats/components/CardsChangedCard.tsx
  src/app/stats/components/ComebackPercentageCard.tsx
  src/app/stats/components/DeckDiversityCard.tsx
  src/app/stats/components/DeckUniquenessCard.tsx
  src/app/stats/components/MatchupMatrixTable.tsx
  src/app/stats/components/PlacementConsistencyCard.tsx
  src/app/stats/components/SessionDiversityGraph.tsx
  src/app/stats/components/UniqueCardsCard.tsx
  src/app/stats/components/VotingBlocTable.tsx
  src/app/stats/meta-analysis/page.tsx
  src/app/stats/page.tsx
  src/app/stats/set-purchases/page.tsx
  src/components/AppHeader.tsx
  src/lib/statQueries.ts
Owners: @olanmccarthy, @frontend-team, @backend-team

add forgotten package.json update
  package.json
Owners: @olanmccarthy

update package-lock.json as well
  package-lock.json
Owners: @olanmccarthy

automate event wheel options that needed it
  prisma/schema.prisma
  src/app/admin/event-wheel-config/actions.ts
  src/app/admin/event-wheel/actions.ts
  src/app/admin/event-wheel/page.tsx
  src/app/admin/loser-prizing/actions.ts
  src/app/admin/loser-prizing/page.tsx
  src/app/admin/moderator-selection/actions.ts
  src/app/admin/moderator-selection/page.tsx
  src/app/admin/prog_actions/actions.ts
  src/app/admin/victory-point-assignment/actions.ts
  src/app/admin/victory-point-assignment/page.tsx
  src/app/banlist/voting/actions.ts
  src/app/banlist/voting/components/VoteDetailsView.tsx
  src/app/banlist/voting/page.tsx
  src/app/play/decklists/actions.ts
  src/app/play/decklists/page.tsx
  src/app/play/pairings/actions.ts
  src/components/WheelConfigSection.tsx
Owners: @olanmccarthy, @frontend-team

remove old files
  src/app/admin/loser-prizing/actions_old.ts
  src/app/admin/loser-prizing/page_old.tsx
Owners: @frontend-team

remove discord bot integration with betting
  src/app/play/pairings/actions.ts
  src/lib/discordClient.ts
Owners: @frontend-team, @backend-team, @olanmccarthy

use banlist megre helper function
  src/app/admin/moderator-selection/actions.ts
  src/app/banlist/voting/actions.ts
Owners: @frontend-team

remove duplicated session modifier interfaces and make use of type extension
  src/app/admin/event-wheel/actions.ts
  src/app/admin/event-wheel/page.tsx
  src/components/WheelConfigSection.tsx
  src/lib/sessionModifierHelpers.ts
Owners: @frontend-team, @olanmccarthy, @backend-team

make further use of interface extensions
  src/app/admin/event-wheel-config/actions.ts
  src/types/sessionModifiers.ts
Owners: @frontend-team, @olanmccarthy

remove api routes and replace with server actions
  src/app/admin/loser-prizing/actions.ts
  src/app/admin/loser-prizing/page.tsx
  src/app/api/auth/me/route.ts
  src/app/api/players/route.ts
  src/app/api/wallet/[playerId]/route.ts
  src/app/banlist/history/actions.ts
Owners: @frontend-team

temp commit
  src/app/banlist/suggestion-creation/page.tsx
  src/app/banlist/voting/components/ModeratorSelectionView.tsx
  src/app/banlist/voting/components/PlayerVotingView.tsx
  src/app/banlist/voting/components/PostVotingView.tsx
  src/app/banlist/voting/components/SuggestionGrid.tsx
  src/app/banlist/voting/components/VotingBanlistCard.tsx
  src/app/banlist/voting/components/VotingComplete.tsx
  src/app/banlist/voting/page.tsx
  src/components/CategoryCard.tsx
Owners: @frontend-team, @olanmccarthy

feat: add images for banlist suggestions
  .gitignore
  public/card-placeholder.svg
  src/app/banlist/suggestion-history/page.tsx
  src/app/banlist/voting/components/VotingBanlistCard.tsx
  src/components/CardImage.tsx
  src/components/CategoryCard.tsx
Owners: @olanmccarthy, @frontend-team

feat: fix styling
  src/app/banlist/suggestion-history/page.tsx
  src/app/banlist/voting/components/SuggestionGrid.tsx
  src/app/banlist/voting/components/VotingBanlistCard.tsx
Owners: @frontend-team

temp commit
  src/app/banlist/suggestion-creation/page.tsx
  src/app/banlist/voting/components/ModeratorSelectionView.tsx
  src/app/banlist/voting/components/PlayerVotingView.tsx
  src/app/banlist/voting/components/PostVotingView.tsx
  src/app/banlist/voting/components/SuggestionGrid.tsx
  src/app/banlist/voting/components/VotingBanlistCard.tsx
  src/app/banlist/voting/components/VotingComplete.tsx
  src/app/banlist/voting/page.tsx
  src/components/CategoryCard.tsx
Owners: @frontend-team, @olanmccarthy

feat: add images for banlist suggestions
  .gitignore
  public/card-placeholder.svg
  src/app/banlist/suggestion-history/page.tsx
  src/app/banlist/voting/components/VotingBanlistCard.tsx
  src/components/CardImage.tsx
  src/components/CategoryCard.tsx
Owners: @olanmccarthy, @frontend-team

feat: fix styling
  src/app/banlist/suggestion-history/page.tsx
  src/app/banlist/voting/components/SuggestionGrid.tsx
  src/app/banlist/voting/components/VotingBanlistCard.tsx
Owners: @frontend-team

add new icon the banlist image generation add error checking such that cards with banlist protection are protected
  .gitignore
  CLAUDE.md
  data/06_schema_migrations.sql
  data/07_add_has_protection_to_cards.sql
  data/08_update_card_protection.sql
  docker-compose.dev.yml
  docker-compose.yml
  prisma/schema.prisma
  src/app/admin/loser-prizing/actions.ts
  src/app/banlist/history/page.tsx
  src/app/banlist/suggestion-creation/actions.ts
  src/app/banlist/suggestion-creation/page.tsx
  src/lib/banlistImage/generator.ts
  src/lib/banlistImage/types.ts
Owners: @olanmccarthy, @frontend-team, @backend-team

update staging deployment script
  deploy-staging.sh
Owners: @olanmccarthy

update card-images to exist in /public following NextJS conventions
  .github/workflows/deploy-staging.yml
  .gitignore
  docker-compose.dev.yml
  docker-compose.staging.yml
  docker-compose.yml
  public/card-images/.gitkeep
  src/components/CardImage.tsx
  src/lib/banlistImage/config.ts
  src/lib/deckImage/config.ts
Owners: @olanmccarthy, @backend-team

allow non admins to see the wheels
  src/components/AppHeader.tsx
Owners: @olanmccarthy

add spending history page
  src/app/spending/actions.ts
  src/app/spending/page.tsx
  src/components/AppHeader.tsx
Owners: @frontend-team, @olanmccarthy

CODEOWNERS:

# Global rule â€” default owners for everything
*       @olanmccarthy

# Frontend folder owners
/src/app/     @frontend-team

# Database / backend logic owners
/src/lib/     @backend-team @olanmccarthy

# Docs are owned by specific users
/docs/        @techwriter
