Repository olanmccarthy/prog-hub, changes with the owners that CODEOWNERS names for each.
All owners: @olanmccarthy, @frontend-team, @backend-team, @techwriter

Update README.md
  README.md
Owners: @olanmccarthy

add basic pages for routing, add claude file, add css color scheme, add header file and layout
  .husky/pre-commit
  CLAUDE.md
  package-lock.json
  package.json
  src/app/admin/actions/actions.ts
  src/app/admin/actions/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/player-list/actions.ts
  src/app/admin/player-list/page.tsx
  src/app/banlist/current/actions.ts
  src/app/banlist/current/page.tsx
  src/app/banlist/history/actions.ts
  src/app/banlist/history/page.tsx
  src/app/banlist/layout.tsx
  src/app/banlist/suggestion-creation/actions.ts
  src/app/banlist/suggestion-creation/page.tsx
  src/app/banlist/suggestion-history/actions.ts
  src/app/banlist/suggestion-history/page.tsx
  src/app/banlist/voting/actions.ts
  src/app/banlist/voting/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/play/decklist-submission/actions.ts
  src/app/play/decklist-submission/page.tsx
  src/app/play/layout.tsx
  src/app/play/pairings/actions.ts
  src/app/play/pairings/page.tsx
  src/app/play/standings/actions.ts
  src/app/play/standings/page.tsx
  src/app/stats/actions.ts
  src/app/stats/page.tsx
  src/components/AppHeader.tsx
Owners: @olanmccarthy, @frontend-team

add pairings page and standings page
  src/app/actions/pairings.ts
  src/app/actions/standings.ts
  src/app/globals.css
  src/app/play/layout.tsx
  src/app/play/pairings/page.tsx
  src/app/play/standings/page.tsx
  src/entities/Banlist.ts
  src/entities/BanlistSuggestion.ts
  src/entities/BanlistSuggestionVote.ts
  src/entities/Decklist.ts
  src/entities/Pairing.ts
  src/entities/Player.ts
  src/entities/Session.ts
  src/entities/VictoryPoint.ts
  src/lib/data-source.ts
  test_data.sql
Owners: @frontend-team, @olanmccarthy, @backend-team

add users and user authentication
  docker-compose.dev.yml
  schema.sql
  src/app/actions/pairings.ts
  src/app/admin/layout.tsx
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/layout.tsx
  src/app/login/page.tsx
  src/components/AppHeader.tsx
  src/entities/Player.ts
  src/lib/auth.ts
  src/middleware.ts
  src/types/player.ts
  test_data.sql
Owners: @olanmccarthy, @frontend-team, @backend-team

add the favicon and header icon
  src/app/favicon-old.ico
  src/app/favicon.ico
  src/app/icon-original.png
  src/app/icon.png
  src/components/AppHeader.tsx
  src/middleware.ts
Owners: @frontend-team, @olanmccarthy

add player list admin page, fix actions files living in incorrect place
  lib/data-source.ts
  src/app/actions/pairings.ts
  src/app/actions/standings.ts
  src/app/admin/layout.tsx
  src/app/admin/player-list/actions.ts
  src/app/admin/player-list/page.tsx
  src/app/api/auth/login/route.ts
  src/app/play/pairings/actions.ts
  src/app/play/pairings/page.tsx
  src/app/play/standings/actions.ts
  src/app/play/standings/page.tsx
  src/lib/data-source.ts
Owners: @olanmccarthy, @frontend-team, @backend-team

add admin actions page
  src/app/admin/actions/actions.ts
  src/app/admin/actions/page.tsx
  src/app/admin/prog_actions/actions.ts
  src/app/admin/prog_actions/page.tsx
  src/app/play/standings/actions.ts
  src/app/play/standings/page.tsx
  src/components/AppHeader.tsx
  src/entities/Session.ts
Owners: @frontend-team, @olanmccarthy

add decklist submission and validation along with test data for decklists and banlists
  CLAUDE.md
  architecture/data_structure.md
  prog.lflist.conf
  schema.sql
  src/app/actions.ts
  src/app/admin/player-list/actions.ts
  src/app/admin/prog_actions/actions.ts
  src/app/api/auth/login/route.ts
  src/app/api/user/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/play/decklist-submission/actions.ts
  src/app/play/decklist-submission/page.tsx
  src/app/play/pairings/actions.ts
  src/app/play/standings/actions.ts
  src/app/play/standings/page.tsx
  src/components/YdkUploadBox.tsx
  src/entities/Decklist.ts
  src/lib/data-source.ts
  src/lib/deckValidator.ts
  src/lib/ydkParser.ts
  test_data.sql
  testdeck.ydk
  testdeck2.ydk
  tsconfig.json
Owners: @olanmccarthy, @frontend-team, @backend-team

update production deployment
  docker-compose.yml
Owners: @olanmccarthy

update docker files for clarity, change prod Dockerfile to not use turbopack
  .dockerignore
  DEPLOYMENT.md
  DOCKER.md
  Dockerfile.prod
  docker-compose.yml
Owners: @olanmccarthy

add config for prod deployment
  .env.docker
  next.config.ts
  package.json
Owners: @olanmccarthy

remove this docker env file
  .env.docker
  .env.production
  package.json
Owners: @olanmccarthy

further bug fixing on environment docker variables
  .env.production
  package.json
Owners: @olanmccarthy

update compose for production environment
  package.json
Owners: @olanmccarthy

fix different env files
  docker-compose.yml
Owners: @olanmccarthy

feat : initital banlist suggestion UI
  src/app/banlist/actions.ts
  src/app/banlist/suggestion-creation/page.tsx
Owners: @frontend-team

feat: validate and submit BanlistSuggestion
  src/app/banlist/actions.ts
  src/app/banlist/suggestion-creation/actions.ts
  src/app/banlist/suggestion-creation/page.tsx
Owners: @frontend-team

feat: fill out suggestion-history page
  src/app/banlist/suggestion-history/actions.ts
  src/app/banlist/suggestion-history/page.tsx
Owners: @frontend-team

fix environment inconsistenies
  .env
  CLAUDE.md
  docker-compose.dev.yml
  src/lib/data-source.ts
Owners: @olanmccarthy, @backend-team

small fixes from claude audit
  .husky/pre-commit
  README.md
  package.json
  schema.sql
  src/app/actions.ts
  src/app/admin/error.tsx
  src/app/api/auth/login/route.ts
  src/app/api/user/route.ts
  src/app/error.tsx
  src/app/play/decklist-submission/actions.ts
  src/app/play/error.tsx
  src/app/play/pairings/actions.ts
  src/app/play/standings/actions.ts
  src/entities/User.ts
Owners: @olanmccarthy, @frontend-team

move over to Prisma because TypeORM was causing unsolvable circular dependancy issues in production
  .env.production
  Dockerfile.prod
  docker-compose.yml
  next.config.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  src/app/actions.ts
  src/app/admin/player-list/actions.ts
  src/app/admin/prog_actions/actions.ts
  src/app/api/auth/login/route.ts
  src/app/play/decklist-submission/actions.ts
  src/app/play/pairings/actions.ts
  src/app/play/standings/actions.ts
  src/entities/Banlist.ts
  src/entities/BanlistSuggestion.ts
  src/entities/BanlistSuggestionVote.ts
  src/entities/Decklist.ts
  src/entities/Pairing.ts
  src/entities/Player.ts
  src/entities/Session.ts
  src/entities/VictoryPoint.ts
  src/lib/data-source.ts
  src/lib/prisma.ts
  tsconfig.json
Owners: @olanmccarthy, @frontend-team, @backend-team

fix dev container
  Dockerfile.dev
Owners: @olanmccarthy

fix test data for dev
  test_data.sql
Owners: @olanmccarthy

convert typeorm to prisma
  src/app/banlist/actions.ts
  src/app/banlist/suggestion-creation/actions.ts
  src/app/banlist/suggestion-history/actions.ts
Owners: @frontend-team

update set up for Prisma
  Dockerfile.prod
  docker-compose.dev.yml
  docker-compose.yml
Owners: @olanmccarthy

update CLAUDE file and try to fix post login redirects
  CLAUDE.md
  src/app/login/page.tsx
Owners: @olanmccarthy, @frontend-team

update start prog logic such that all the requirements are not needed if it's the first prog
  src/app/admin/prog_actions/actions.ts
Owners: @frontend-team

add basic github workflow
  .github/workflows/deploy.yml
  CLAUDE.md
  DEPLOYMENT.md
  deploy.sh
Owners: @olanmccarthy

fix actions file
  .github/workflows/deploy.yml
Owners: @olanmccarthy

have production docker up command run detached
  package.json
Owners: @olanmccarthy

set up discord bot and basic notifications for functionality already included
  .env
  .env.production
  CLAUDE.md
  Dockerfile.discord
  docker-compose.yml
  package-lock.json
  package.json
  src/app/admin/prog_actions/actions.ts
  src/app/play/standings/actions.ts
  src/discord/api.ts
  src/discord/bot.ts
  src/discord/config.ts
  src/discord/index.ts
  src/discord/notifications.ts
  src/lib/discordClient.ts
Owners: @olanmccarthy, @frontend-team, @backend-team

update actions file to insert passwords from github secrets
  .env
  .env.production
  .github/workflows/deploy.yml
Owners: @olanmccarthy

update deployments and add the card table
  CLAUDE.md
  docker-compose.dev.yml
  docker-compose.yml
  package.json
  prisma/schema.prisma
  src/types/card.ts
  src/types/index.ts
  yugioh_cards.sql
Owners: @olanmccarthy

add auto suggest to banlist suggestion page, change backend data structure of banlists
  CLAUDE.md
  src/app/actions.ts
  src/app/admin/prog_actions/actions.ts
  src/app/banlist/actions.ts
  src/app/banlist/layout.tsx
  src/app/banlist/suggestion-creation/actions.ts
  src/app/banlist/suggestion-creation/page.tsx
  src/app/banlist/suggestion-history/actions.ts
  src/app/banlist/suggestion-history/page.tsx
  src/lib/deckValidator.ts
  src/types/banlist.ts
  src/types/banlistSuggestion.ts
Owners: @olanmccarthy, @frontend-team, @backend-team

add cardsets table, clean up data files out of folder root
  CLAUDE.md
  data/card_sets.json
  data/test_data.sql
  data/testdeck.ydk
  data/testdeck2.ydk
  data/yugioh_cards.sql
  data/yugioh_sets.sql
  docker-compose.dev.yml
  docker-compose.yml
  prisma/schema.prisma
  schema.sql
Owners: @olanmccarthy

add set manager page
  data/yugioh_sets.sql
  prisma/schema.prisma
  src/app/admin/set-manager/actions.ts
  src/app/admin/set-manager/page.tsx
  src/components/AppHeader.tsx
Owners: @olanmccarthy, @frontend-team

minor: add cardLookup to lib
  src/app/banlist/suggestion-creation/actions.ts
  src/lib/cardLookup.ts
Owners: @frontend-team, @backend-team, @olanmccarthy

feat: add viewer for current banlist
  src/app/banlist/current/actions.ts
  src/app/banlist/current/page.tsx
Owners: @frontend-team

add shop page, add wallets, add leaderboard, change how data structure of sessions works,
  CLAUDE.md
  data/test_data.sql
  data/testdata.sql
  data/yugioh_sessions.sql
  docker-compose.dev.yml
  docker-compose.yml
  prisma/schema.prisma
  src/app/actions.ts
  src/app/admin/player-list/actions.ts
  src/app/admin/prog_actions/actions.ts
  src/app/admin/prog_actions/page.tsx
  src/app/banlist/actions.ts
  src/app/banlist/suggestion-creation/actions.ts
  src/app/banlist/suggestion-creation/page.tsx
  src/app/banlist/suggestion-history/actions.ts
  src/app/globals.css
  src/app/leaderboard/actions.ts
  src/app/leaderboard/page.tsx
  src/app/page.tsx
  src/app/play/decklist-submission/actions.ts
  src/app/play/pairings/actions.ts
  src/app/play/standings/actions.ts
  src/app/shop/actions.ts
  src/app/shop/page.tsx
  src/components/AppHeader.tsx
  src/components/UpcomingSession.tsx
  src/components/YdkUploadBox.tsx
  src/discord/api.ts
  src/discord/notifications.ts
  src/lib/typeGuards.ts
Owners: @olanmccarthy, @frontend-team, @backend-team

fix ts error
  package.json
  src/app/play/standings/actions.ts
  src/app/play/standings/page.tsx
Owners: @olanmccarthy, @frontend-team

CODEOWNERS:

# Global rule â€” default owners for everything
*       @olanmccarthy

# Frontend folder owners
/src/app/     @frontend-team

# Database / backend logic owners
/src/lib/     @backend-team @olanmccarthy

# Docs are owned by specific users
/docs/        @techwriter
