Repository olanmccarthy/prog-hub, changes with the owners that CODEOWNERS names for each.
All owners: @olanmccarthy, @frontend-team, @backend-team, @techwriter

CODEOWNERS:

# Global rule â€” default owners for everything
*       @olanmccarthy

# Frontend folder owners
/src/app/     @frontend-team

# Database / backend logic owners
/src/lib/     @backend-team @olanmccarthy

# Docs are owned by specific users
/docs/        @techwriter

add script to dump sets file, update db schema diagram
  architecture/db_schema.png
  data/new_sets.sql
  scripts/generate_sets.sh
Owners: @olanmccarthy

Add Discord Channel IDs
  .env.production
Owners: @olanmccarthy

Add Discord Channel IDs for default
  .env
Owners: @olanmccarthy

Update yugioh_sets.sql
  data/yugioh_sets.sql
Owners: @olanmccarthy

Update deploy.yml
  .github/workflows/deploy.yml
Owners: @olanmccarthy

feat: fill out banlist/banlist-voting
  src/app/actions.ts
  src/app/banlist/actions.ts
  src/app/banlist/suggestion-creation/page.tsx
  src/app/banlist/suggestion-history/page.tsx
  src/app/banlist/voting/actions.ts
  src/app/banlist/voting/page.tsx
  src/components/CategoryCard.tsx
Owners: @frontend-team, @olanmccarthy

feat: add auto suggestion and voting admin buttons
  src/app/admin/prog_actions/actions.ts
  src/app/admin/prog_actions/page.tsx
Owners: @frontend-team

fix: duplicate change
  src/app/actions.ts
Owners: @frontend-team

fix: ensure banlist voting requires active seesion
  src/app/banlist/actions.ts
  src/app/banlist/voting/actions.ts
  src/app/banlist/voting/page.tsx
Owners: @frontend-team

feat: update current banlist view and add history
  src/app/banlist/current/actions.ts
  src/app/banlist/current/page.tsx
  src/app/banlist/history/actions.ts
  src/app/banlist/history/page.tsx
Owners: @frontend-team

add all the wheels and transcations, update the discord bot to post all notifications needed
  CLAUDE.md
  architecture/action_flow.md
  data/new_sets.sql
  data/wallet_point_breakdowns.sql
  prisma/schema.prisma
  src/app/admin/event-wheel-config/actions.ts
  src/app/admin/event-wheel/actions.ts
  src/app/admin/event-wheel/page.tsx
  src/app/admin/loser-prizing-config/actions.ts
  src/app/admin/loser-prizing/actions.ts
  src/app/admin/loser-prizing/page.tsx
  src/app/admin/moderator-selection/actions.ts
  src/app/admin/moderator-selection/page.tsx
  src/app/admin/prog_actions/actions.ts
  src/app/admin/prog_actions/page.tsx
  src/app/admin/victory-point-assignment/actions.ts
  src/app/admin/victory-point-assignment/page.tsx
  src/app/admin/wallet-breakdown/actions.ts
  src/app/admin/wallet-breakdown/page.tsx
  src/app/banlist/suggestion-creation/actions.ts
  src/app/banlist/voting/actions.ts
  src/app/globals.css
  src/app/shop/actions.ts
  src/components/AppHeader.tsx
  src/components/EventResultModal.tsx
  src/components/EventWheel.tsx
  src/discord/api.ts
  src/discord/bot.ts
  src/discord/config.ts
  src/discord/notifications.ts
  src/lib/discordClient.ts
Owners: @olanmccarthy, @frontend-team, @backend-team

add updated set dump
  data/new_sets.sql
Owners: @olanmccarthy

Update .env
  .env
Owners: @olanmccarthy

have discord bot post in the correct channel
  src/discord/config.ts
  src/discord/notifications.ts
Owners: @olanmccarthy

add better logging to discord bot
  src/discord/notifications.ts
Owners: @olanmccarthy

fix issues with wheels not showing actual result, update session requirement steps to be more clear
  architecture/action_flow.md
  data/testdata.sql
  src/app/admin/event-wheel/actions.ts
  src/app/admin/event-wheel/page.tsx
  src/app/admin/loser-prizing/page.tsx
  src/app/admin/moderator-selection/actions.ts
  src/app/admin/moderator-selection/page.tsx
  src/app/admin/prog_actions/actions.ts
  src/app/admin/prog_actions/page.tsx
  src/app/banlist/suggestion-history/page.tsx
  src/components/EventWheel.tsx
Owners: @olanmccarthy, @frontend-team

add price field to sets and have them be editable in sets manager
  data/new_sets.sql
  data/wallet_point_breakdowns.sql
  data/yugioh_sets.sql
  prisma/schema.prisma
  src/app/admin/set-manager/actions.ts
  src/app/admin/set-manager/page.tsx
Owners: @olanmccarthy, @frontend-team

add testdeck.ydk to production env for testing
  Dockerfile.prod
Owners: @olanmccarthy

split the pages in to components
  CLAUDE.md
  data/yugioh_sets.sql.backup
  src/app/admin/event-wheel/page.tsx
  src/app/admin/loser-prizing/page.tsx
  src/app/admin/prog_actions/components/ActiveSessionSection.tsx
  src/app/admin/prog_actions/components/GeneratePairingsSection.tsx
  src/app/admin/prog_actions/components/ResetSections.tsx
  src/app/admin/prog_actions/components/StartSessionSection.tsx
  src/app/admin/prog_actions/components/TestControlsSection.tsx
  src/app/admin/prog_actions/page.tsx
  src/app/banlist/voting/components/ModeratorSelectionView.tsx
  src/app/banlist/voting/components/PlayerVotingView.tsx
  src/app/banlist/voting/components/PostVotingView.tsx
  src/app/banlist/voting/components/VotingBanlistCard.tsx
  src/app/banlist/voting/components/VotingComplete.tsx
  src/app/banlist/voting/components/WaitingForSubmissions.tsx
  src/app/banlist/voting/page.tsx
  src/app/play/pairings/actions.ts
  src/app/play/pairings/components/PairingsView.tsx
  src/app/play/pairings/components/StandingsView.tsx
  src/app/play/pairings/page.tsx
  src/app/play/standings/actions.ts
  src/app/play/standings/page.tsx
  src/components/RequirementItem.tsx
  src/components/WheelConfigSection.tsx
Owners: @olanmccarthy, @frontend-team

clean ts warnings
  src/app/admin/moderator-selection/page.tsx
  src/app/admin/prog_actions/actions.ts
  src/app/admin/victory-point-assignment/page.tsx
  src/app/banlist/suggestion-creation/page.tsx
  src/app/leaderboard/page.tsx
  src/app/login/page.tsx
  src/app/shop/page.tsx
  src/components/EventWheel.tsx
  src/lib/deckImage/generator.ts
Owners: @frontend-team, @olanmccarthy, @backend-team

add more admin control buttons
  src/app/admin/prog_actions/chosen-suggestion/actions.ts
  src/app/admin/prog_actions/chosen-suggestion/page.tsx
  src/app/admin/prog_actions/current-banlist/actions.ts
  src/app/admin/prog_actions/current-banlist/page.tsx
  src/app/admin/prog_actions/layout.tsx
  src/app/admin/prog_actions/moderator/actions.ts
  src/app/admin/prog_actions/moderator/page.tsx
  src/app/admin/prog_actions/victory-points/actions.ts
  src/app/admin/prog_actions/victory-points/page.tsx
  src/app/admin/prog_actions/wallets/actions.ts
  src/app/admin/prog_actions/wallets/page.tsx
  src/lib/deckImage/imageCache.ts
Owners: @frontend-team, @backend-team, @olanmccarthy

try fix production image generation issues
  Dockerfile.prod
  src/lib/deckImage/saveDeckImage.ts
Owners: @olanmccarthy, @backend-team

add more discord bot commands and fix a critical issue
  CLAUDE.md
  package-lock.json
  package.json
  public/banlist-images/.gitkeep
  public/deck-images/.gitkeep
  src/app/play/pairings/actions.ts
  src/discord/api.ts
  src/discord/bot.ts
  src/discord/config.ts
  src/discord/notifications.ts
  src/lib/discordClient.ts
Owners: @olanmccarthy, @frontend-team, @backend-team

fix deployment issue
  package.json
Owners: @olanmccarthy

update tie breakers to properly implement a head to head system that can handle 3+ way ties
  PLAYER_RULEBOOK.md
  src/app/play/pairings/actions.ts
Owners: @olanmccarthy, @frontend-team

add ability to add sets via website, add sql scripts to enable double up sessions
  data/combination_sets.sql
  data/create_combination_sessions.sql
  src/app/admin/set-manager/actions.ts
  src/app/admin/set-manager/page.tsx
Owners: @olanmccarthy, @frontend-team

allow for editing of existing sets in app, add event and loser prizing data
  data/event_wheel_entries.sql
  data/loser_prizing_entries.sql
  src/app/admin/set-manager/actions.ts
  src/app/admin/set-manager/page.tsx
  src/app/play/pairings/actions.ts
  src/discord/api.ts
Owners: @olanmccarthy, @frontend-team

add delete button to upcoming sessions box
  src/app/actions.ts
  src/components/UpcomingSession.tsx
Owners: @frontend-team, @olanmccarthy

fix build error
  src/app/actions.ts
  src/components/UpcomingSession.tsx
Owners: @frontend-team, @olanmccarthy

expose the mysql port to the local machine
  docker-compose.yml
Owners: @olanmccarthy

make shop more usable, let users only edit their own decklist names, show more relevant data on the decklists
  next.config.ts
  src/app/admin/prog_actions/actions.ts
  src/app/admin/victory-point-assignment/actions.ts
  src/app/admin/victory-point-assignment/page.tsx
  src/app/play/decklists/actions.ts
  src/app/play/decklists/page.tsx
  src/app/shop/actions.ts
  src/app/shop/page.tsx
Owners: @olanmccarthy, @frontend-team

clicking on a set will open that set overview in ygoprodeck
  src/app/shop/page.tsx
Owners: @frontend-team

fix sets having hard coded costs and fix external images not working
  Dockerfile.prod
  src/app/shop/actions.ts
  src/app/shop/page.tsx
Owners: @olanmccarthy, @frontend-team

allow admins to upload a decklist for players, fix banlist updating for admins
  src/app/admin/prog_actions/actions.ts
  src/app/admin/prog_actions/components/UploadDecklistSection.tsx
  src/app/admin/prog_actions/current-banlist/actions.ts
  src/app/admin/prog_actions/page.tsx
  src/app/banlist/current/actions.ts
Owners: @frontend-team

alllow users to add comments to their banlist suggestions, change shop image urls to ygoprog.com
  next.config.ts
  prisma/schema.prisma
  src/app/banlist/suggestion-creation/actions.ts
  src/app/banlist/suggestion-creation/page.tsx
  src/app/banlist/voting/actions.ts
  src/app/banlist/voting/components/VotingBanlistCard.tsx
  src/app/cardback.png
  src/app/shop/actions.ts
  src/app/shop/page.tsx
Owners: @olanmccarthy, @frontend-team

don't allow users to see suggestion history for current list
  src/app/banlist/suggestion-history/actions.ts
Owners: @frontend-team

fix shop groupings
  src/app/shop/actions.ts
  src/app/shop/page.tsx
Owners: @frontend-team

fix bug causing the banlist to not be viewable
  src/lib/cardLookup.ts
Owners: @backend-team, @olanmccarthy

fix issues with banlists getting corrupted data
  src/app/admin/prog_actions/current-banlist/actions.ts
  src/app/admin/prog_actions/current-banlist/page.tsx
  src/app/banlist/actions.ts
  src/app/banlist/history/actions.ts
  src/app/banlist/suggestion-creation/actions.ts
  src/app/banlist/suggestion-history/actions.ts
Owners: @frontend-team

add missing file
  src/app/banlist/voting/actions.ts
Owners: @frontend-team
